@keyframes unfoldIn {
    0% { transform:scaleY(.005) scaleX(0); }
    50% { transform:scaleY(.005) scaleX(1); }
    100% { transform:scaleY(1) scaleX(1); }
}
  
@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes fadeInColor {
  0% {
    background:rgba(16,58,32,0);
  }
  100% {
    background:rgba(16,58,32,0.8);
  }
}

@keyframes fadeOutColor {
  0% {
    background:rgba(16,58,32,0.8);
  }
  100% {
    background:rgba(16,58,32,0);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0);
    opacity:1; 
  }
}

@keyframes scaleUpCenter {
  0% {
      transform:scale(.8) translate(-50%, 150%);
      opacity: 0;
  }
  100% {
    transform:scale(1) translate(-50%, -50%);
    opacity:1;
  }
}

@keyframes scaleDown {
  0% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
  100% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
}
@keyframes scaleDownCenter {
  0% {
    transform:scale(1) translate(-50%, -50%);
    opacity:1;
  }
  100% {
    transform: scale(.8) translate(-50%, 150%);
    opacity:0;
  }
}

@keyframes scaleBack {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(.85);
  }
}

@keyframes scaleForward {
  0% {
    transform:scale(.85);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform:scale(1);
  }
  99.9% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes slideUpLarge {
  0% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(-100%);
  }
}

@keyframes slideDownLarge {
  0% {
    transform:translateY(-100%);
  }
  100% {
    transform:translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(150px);
  }
}

@keyframes moveLeft {
  0% {
    transform:translateX(150px);
  }
  100% {
    transform:translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform:translateX(0px);
  }
  100% {
    transform:translateX(150px);
  }
}

@keyframes blowUpContent {
  0% {
    transform:scale(1);
    opacity:1;
  }
  99.9% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}

@keyframes roadRunnerIn {
  0% {
    transform:translate(150%, -50%) scaleX(1);
  }
  75% {
    transform:translate(-53%, -50%) scaleX(.9);
  }
  100% {
    //transform:translate(-55%, -50%) skewX(0deg) scaleX(.9);
    transform:translate(-50%, -50%) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform:translate(-50%, -50%) scaleX(1);
  }
  25% {
    transform:translate(-53%, -50%) scaleX(.9);
  }
  100% {
    transform:translate(150%, -50%) scaleX(1);
  }
}

@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 778;
    }
}

@keyframes modalFadeIn {
  0% {
    background-color:transparent;
  }
  100% {
    background-color:white;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color:white;
  }
  100% {
    background-color:transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity:1;
    top:0px;
  }
  100% {
    opacity:0;
    top:-20px;
  }
}

@keyframes bondJamesBond {
  0% {
    transform:translateX(1000px);
  }
  80% {
    transform:translateX(0px);
    border-radius:75px;
    height:75px;
    width:75px;
  }
  90% {
    border-radius:3px;
    height:182px;
    width:247px;
  }
  100% {
    border-radius:3px;
    height:162px;
    width:227px;
  }
}

@keyframes killShot {
  0% {
    transform:translateY(0) rotate(0deg);
    opacity:1;
  }
  100% {
    transform:translateY(300px) rotate(45deg);
    opacity:0;
  }
}

@keyframes fadeToRed {
  0% {
    background-color:rgba(black,.6);
  }
  100% {
    background-color:rgba(red,.8);
  }
}

@keyframes slowFade {
  0% {
    opacity:1;
  }
  99.9% {
    opacity:0;
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes sonar {
  0% {
      @include transform(scale(1, 1));
      opacity: 1;
  }
  100% {
      @include transform(scale(1.75, 1.75));
      opacity: 0;
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(0,0,0, 0.4); }
  70% { box-shadow: 0 0 0 10px rgba(0,0,0, 0); }
  100% { box-shadow: 0 0 0 0 rgba(0,0,0, 0); }
}

// FADE
@keyframes fadeInLeft {
  from {
    opacity: 0;
    @include transform(translate3d(-150px, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    @include transform(translate3d(150px, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    @include transform(translate3d(0, 150px, 0));
  }

  to {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    @include transform(translate3d(0, -150px, 0));
  }

  to {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

// SLIDE
@keyframes slideInRight {
  from {
    @include transform(translate3d(150px, 0, 0));
    visibility: visible;
  
  }

  to { @include transform(translate3d(0, 0, 0)); }
}

@keyframes slideInLeft {
  from {
    @include transform(translate3d(-150px, 0, 0));
    visibility: visible;
  }

  to { @include transform(translate3d(0, 0, 0)); }
}

@keyframes slideInDown {
  from {
    @include transform(translate3d(0, -150px, 0));
    visibility: visible;
  }

  to { @include transform(translate3d(0, 0, 0)); }
}

@keyframes slideInUp {
  from {
    @include transform(translate3d(0, 150px, 0));
    visibility: visible;
  }

  to { @include transform(translate3d(0, 0, 0)); }
}

.fadeInLeft {
  @include animation(fadeInLeft 1s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}
.fadeInRight {
  @include animation(fadeInRight 1s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}
.fadeInUp {
  @include animation(fadeInUp 1s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}
.fadeInDown {
  @include animation(fadeInDown 1s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}

.slideInRight {
  @include animation(slideInRight 1s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}
.slideInLeft {
  @include animation(slideInLeft 1s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}
.slideInUp {
  @include animation(slideInUp 1s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}
.slideInDown {
  @include animation(slideInDown 1s cubic-bezier(0.165, 0.840, 0.440, 1.000));
}
/*******************************
ANIMATIONS TIMES
********************************/
@for $i from 1 through 50 {
  .atraso#{$i} {
      -webkit-animation-delay:(#{$i * 0.1s}); 
              animation-delay:(#{$i * 0.1s}); 
  }
  .duracao#{$i} {
      -webkit-animation-duration:(#{$i * 0.1s}); 
              animation-duration:(#{$i * 0.1s}); 
  }
}