/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300;400;600;700&family=Saira+Semi+Condensed:wght@400;600;700&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
*/