footer { 
	background: transparent url("../img/BG_Footer.png") center top no-repeat;
	background-size: 100% 100%;
	position: relative;
	height: 400px;
    height: 40vh;
    max-height: 400px;
	display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
	width: 100%;
	z-index: 951;

	&::before {
		background: transparent url('../img/BG_Footer_before.png') left bottom no-repeat;
		background-size: contain;
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.logoRodape {
		background: transparent url("../img/logoPrograma_f.png") 0 0 no-repeat;
		background-size: 100%;
		position: relative;
		margin: 0 auto;
		height: 72px;
        width: 260px;
        z-index: 2;
	}

	@media #{$bp-tablet} { 
		height: 290px;
		padding-bottom: 40px;

		&::before { width: 100%; }

		.logo { 
			left: 35px; 
			height: 80px;
			width: 284px;
		}
	}

	@media #{$bp-phone} { 
		background-size: cover;
		height: 220px;
		height: 35vh;
		padding-bottom: 15px;

		&::before { 
			top: inherit;
			bottom: 0;
			height: 60%;
		}

		.logo { 
			left: 0; 
			height: 56px;
			width: 200px;
		}
	}
}