/******************
Configurações Tela
*******************/
$bp-xlDesktop: "only screen and (min-width: 1141px)";
$bp-desktop: "only screen and (max-width: 1140px)";
$bp-tablet: "only screen and (max-width: 992px)";
$bp-minTablet: "only screen and (max-width: 767px)";
$bp-phone: "only screen and (max-width: 576px)";

// CONFIGS
$altura-header: 100px;
$espaco-margin: 20px;
$radius-padrao: 12px;

/******************
Cores
*******************/
$cores: (
  Amarela: (
    color1: #fdb94e,
    texto: #143849,
  ),
  Azul: (
    color1: #286efa,
    texto: #f5f6fa,
  ),
  Verde: (
    color1: #88ebb5,
    texto: #143849,
  ),
  Vermelho: (
    color1: #fd3a57,
    texto: #f5f6fa,
  ),
  Navy: (
    color1: #143849,
    texto: #f5f6fa,
  ),
  Escura: (
    color1: #222222,
    texto: #f5f6fa,
  ),
  Clara: (
    color1: #f5f6fa,
    texto: #143849,
  ),
);

$cor1: #fdb94e;
$cor2: #286efa;
$cor3: #88ebb5;
$cor4: #fd3a57;
$cor5: #222222;
$cor6: #143849;
$cor7: #f5f6fa;

$svg0: str_slice(#{$cor1}, 2, 7);
$svg1: str_slice(#{$cor2}, 2, 7);
$svg2: str_slice(#{$cor3}, 2, 7);
$svg3: str_slice(#{$cor4}, 2, 7);

$corTexto: #143849;

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin box-shadow($props) {
  box-shadow: $props;
  -moz-box-shadow: $props;
  -webkit-box-shadow: $props;
}

@mixin transform($props) {
  transform: $props;
  -ms-transform: $props;
  -moz-transform: $props;
  -webkit-transform: $props;
}

@mixin perspective($props) {
  perspective: $props;
  -moz-perspective: $props;
  -webkit-perspective: $props;
}

@mixin transform-origin($props) {
  transform-origin: $props;
  -moz-transform-origin: $props;
  -webkit-transform-origin: $props;
}

@mixin transition($props) {
  transition: $props;
  -ms-transition: $props;
  -moz-transition: $props;
  -webkit-transition: $props;
}

//animation
@mixin animation($animation) {
  animation: $animation;
  -o-animation: $animation;
  -ms-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
}

// TRIANGLES
@mixin triangle($direction: up, $width: 10px, $color: #fff) {
  width: 0;
  height: 0;
  border: $width solid transparent;

  @if ($direction == left) {
    border-right-color: $color;
    border-left: 0;
  } @else if($direction == right) {
    border-left-color: $color;
    border-right: 0;
  } @else if($direction == down) {
    border-top-color: $color;
    border-bottom: 0;
  } @else {
    border-bottom-color: $color;
    border-top: 0;
  }
}
