.atividadeCubo {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
  position: relative;
  width: 100%;

  .cuboAnimado {
    max-width: 400px;
    position: relative;
    width: 40%;

    .cuboWrapper {
      background: url(../img/BG_Cubo.png) center no-repeat;
      background-size: 75%;
      padding-top: 100%;
      position: relative;
      width: 100%;

      .cuboBlock {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;

        @include transform(translateY(-50%));
      }
    }
  }

  #sliderAnimado {
    position: relative;
    margin-left: 5%;
    width: 55%;
  }

  @media #{$bp-minTablet} {
    flex-direction: column;

    .cuboAnimado {
      max-width: 400px;
      margin: 0 auto;
      width: 100%;

      .cuboWrapper {
        background: #f5f6fa;
      }
    }

    #sliderAnimado {
      margin-left: 0%;
      width: 100%;
    }
  }
}

//////////////
.menuInterativo {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto 30px;

  .img-modelo {
    opacity: 0;
  }

  .menuBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .menuLink {
      position: absolute;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #menu_xs {
    #menu_xs_bg {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }
    #menu_xs_lnk1 {
      width: 29.86%;
      height: 40.7%;
      left: 11.81%;
      top: 1.16%;
      z-index: 12;
    }
    #menu_xs_lnk2 {
      width: 35.42%;
      height: 48.84%;
      left: 1.81%;
      top: 48.84%;
      z-index: 13;
    }
    #menu_xs_lnk3 {
      width: 28.47%;
      height: 39.53%;
      left: 41.25%;
      top: 60%;
      z-index: 14;
    }
    #menu_xs_lnk4 {
      width: 39.58%;
      height: 61.63%;
      left: 60.42%;
      top: 9.77%;
      z-index: 15;
    }
  }
}

//////////////

svg {
  .quadro,
  .setas,
  .ilustra,
  .postAm,
  .sticker,
  .lousa,
  .postAz,
  .post,
  .headerSvg {
    opacity: 0;
  }
}

.animaConteudo {
  svg {
    .lousa {
      @include transform-origin(center);
      @include animation(slideUp 0.6s ease 1s forwards);
    }
    .headerSvg {
      @include transform-origin(center 200px);
      @include animation(scaleObj 0.75s ease-in 1.6s forwards);
    }
    .sticker {
      @include transform-origin(center);
      @include animation(alphaObj 1s ease 4s forwards);
    }

    #SVG_05 {
      .postAm {
        @include transform-origin(center);
        @include animation(slideUp 0.8s ease 2.5s forwards);
      }
      .post {
        @include transform-origin(center);
        @include animation(slideLeft 0.6s ease 2.9s forwards);
      }
      .postAz {
        @include transform-origin(center);
        @include animation(slideUp 0.8s ease 3.2s forwards);
      }
    }

    #SVG_06,
    #SVG_07 {
      .postAm {
        @include transform-origin(center);
        @include animation(slideRight 0.8s ease 2.5s forwards);
      }
      .postAz {
        @include transform-origin(center);
        @include animation(slideLeft 0.8s ease 2.9s forwards);
      }
    }

    #SVG_08,
    #SVG_09 {
      .quadro {
        @include transform-origin(center);
        @include animation(slideRight 0.8s ease 2s forwards);
      }
      .setas {
        @include transform-origin(center left);
        @include animation(scaleObj 0.6s ease 2.6s forwards);
      }
      .ilustra {
        @include transform-origin(center);
        @include animation(slideDown 0.8s ease 3s forwards);
      }
      .post {
        @include transform-origin(center);
        @include animation(slideUp 0.6s ease 3.4s forwards);
      }
    }

    @media #{$bp-minTablet} {
      #SVG_08,
      #SVG_09 {
        .quadro {
          @include animation(slideDown 0.8s ease 2s forwards);
        }
        .setas {
          @include transform-origin(center top);
          @include animation(scaleObj 0.6s ease 2.6s forwards);
        }
        .ilustra {
          @include animation(slideUp 0.8s ease 3s forwards);
        }
        .post {
          @include animation(slideLeft 0.6s ease 3.4s forwards);
        }
      }
    }
  }
}

@include keyframes(alphaObj) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(scaleObj) {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@include keyframes(slideUp) {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@include keyframes(slideLeft) {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include keyframes(slideDown) {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@include keyframes(slideRight) {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
